<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

  <configuration>
	<typeAliases>
		<typeAlias type="com.camp.s1.board.BbsDTO" alias="BbsDTO"/>
		<typeAlias type="com.camp.s1.board.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.camp.s1.board.FileDTO" alias="FileDTO"/>
		<typeAlias type="com.camp.s1.board.BoardFileDTO" alias="BoardFileDTO"/>
		
		<typeAlias type="com.camp.s1.board.notice.NoticeDTO" alias="NoticeDTO"/>
		
		<typeAlias type="com.camp.s1.product.ProductDTO" alias="ProductDTO"/>
		
		<typeAlias type="com.camp.s1.board.CommentDTO" alias="CommentDTO"/>
		
		<typeAlias type="com.camp.s1.member.MemberDTO" alias="MemberDTO"/>
		
		<typeAlias type="com.camp.s1.camping.CampDTO" alias="CampDTO"/>
		<typeAlias type="com.camp.s1.camping.CampSiteDTO" alias="CampSiteDTO"/>
		
		<typeAlias type="java.lang.Long" alias="Long"/>
	</typeAliases>
  </configuration>