<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.camp.s1.camping.book.CampBookDAO">
	
	
	<!-- siteList -->
	<select id="getCampSiteList" parameterType="CampDTO" resultType="CampSiteDTO">
		SELECT * FROM CAMPSITE WHERE CAMPNUM=#{campNum}
	</select>
	
	<!-- siteDetail -->
	<select id="getCampSiteDetail" parameterType="Long" resultType="CampSiteDTO">
		SELECT * FROM CAMPSITE WHERE AREANUM=#{areaNum}
	</select>
	
	<!-- bookAdd -->
	<insert id="setCampBookAdd" parameterType="CampBookDTO">
		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
			SELECT CAMPSEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO CAMPBOOK(NUM, AREANUM, ID, INDEXCODE, ORDERNUM, PRICE, REGDATE, STARTDATE, LASTDATE, ACCOUNT, STATUS, SITENAME, NAME)
		VALUES(#{num}, #{areaNum}, #{id}, #{indexCode}, #{orderNum}, #{price}, sysdate, #{startDate}, #{lastDate}, #{account}, '입금대기', #{siteName}, #{name})
	</insert>
	
	<!-- getOrderNum -->
	<select id="getOrderNumber" resultType="Long">
		SELECT PAYMENTSEQ.NEXTVAL FROM DUAL
	</select>
	
	<!-- setOrderNum -->
	<insert id="setOrderNumber" parameterType="CampBookDTO">
		INSERT INTO ORDERS(ORDERNUM)
		VALUES(#{orderNum})
	</insert>
	
	<!-- getMemberDetail -->
	<select id="getMemberDetail" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT * FROM MEMBER WHERE ID=#{id}
	</select>
	
	<!-- getCampBookList -->
	<select id="getCampBookList" parameterType="Long" resultType="CampBookDTO">
		<!-- SELECT CI.CAMPNUM, CS.SITENAME, CS.SITESIZE, CS.STATUS, CB.ID, CB.ORDERNUM, CB.PRICE, CB.STARTDATE, CB.LASTDATE, CB.STATUS -->
		SELECT *
		FROM CAMPBOOK CB
			LEFT OUTER JOIN
			CAMPSITE CS
			ON(CB.AREANUM=CS.AREANUM)
			LEFT OUTER JOIN
			CAMPINFO CI
			ON(CS.CAMPNUM=CI.CAMPNUM)
		WHERE CI.CAMPNUM=#{campNum}
		
		<!-- FROM CAMPINFO CI
			JOIN CAMPSITE CS
			ON(CI.CAMPNUM = CS.CAMPNUM)
			JOIN CAMPBOOK CB
			ON(CS.AREANUM = CB.AREANUM)
		WHERE CI.CAMPNUM = #{campNum} -->
	</select>
	
	<!-- getCampDetail -->
	<select id="getCampDetail" parameterType="Long" resultType="CampDTO">
		SELECT * FROM CAMPINFO WHERE CAMPNUM=#{campNum}
	</select>
	
	<!-- getCampBookDetail -->
	<select id="getCampBookDetail" parameterType="CampBookDTO" resultType="CampBookDTO">
		SELECT * FROM CAMPBOOK WHERE NUM=#{num}
	</select>
	
	<!-- setCampBookDelete -->
	<delete id="setCampBookDelete" parameterType="CampBookDTO">
		DELETE CAMPBOOK WHERE NUM=#{num}
	</delete>
	
	<!-- setCampBookPaymentAdd - 결제 추가 -->
	<insert id="setCampBookPaymentAdd" parameterType="PaymentDTO">
		<selectKey keyProperty="payNum" order="BEFORE" resultType="Long">
			SELECT PAYMENTSEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO PAYMENT(PAYNUM, ORDERNUM, PAYMETHOD, PAYDATE)
		VALUES(#{payNum}, #{orderNum}, #{payMethod}, SYSDATE)
	</insert>
	
	<!-- setCampBookUpdate - 결제후 예약상태 변경 -->
	<update id="setCampBookUpdate" parameterType="CampBookDTO">
		UPDATE CAMPBOOK SET STATUS=#{status} WHERE NUM=#{num}
	</update>
	
	<!-- getBookedSiteList - 예약된 사이트들을 조회 -->
	<select id="getBookedSiteList" parameterType="CampBookDTO" resultType="CampBookDTO">
		SELECT * FROM CAMPBOOK WHERE AREANUM=#{areaNum}
	</select>
	
	<!-- getMyBookList - 멤버의 예약서를 조회 -->
	<select id="getMyBookList" parameterType="CampBookDTO" resultType="CampBookDTO">
		SELECT * FROM CAMPBOOK WHERE ID=#{id}
	</select>
	
	
	</mapper>