<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camp.s1.member.MemberDAO">

<insert id="setMemberJoin" parameterType="MemberDTO">
	INSERT INTO MEMBER
	VALUES(#(id), #(pw), #(name), #(phone), #(email), #(roleName))
</insert>

<insert id="getAddressJoin" parameterType="AddressDTO">
	INSERT INTO ADDRESS(ADDRESSNUM, ID, ADDRESSNAME, ADDRESSDETAIL, POSTCODE)
	VALUES(ADDRESSSEQ.NEXTVAL, #{id}, #{addressName}, #{addressDetail}, #{postCode})
</insert>

<select id="getMemberLogin" parameterType="MemberDTO" resultMap="MemberResult">
	SELECT * FROM MEMBER
	LEFT JOIN
	ADDRESS
	USING(ID)
	WHERE ID=#{id}
</select>

<resultMap type="MemberDTO" id="MemberResult">
<id column="ID" property="id"/>
<result column="PW" property="pw"/>
<result column="NAME" property="name"/>
<result column="PHONE" property="phone"/>
<result column="EMAIL" property="email"/>
<result column="ROLENAME" property="roleName"/>
<collection property="addressDTOs" javaType="List" ofType="AddressDTO">
<id column="ADDRESSNUM" property="addressNum"/>
<result column="ADDRESSNAME" property="addressName"/>
<result column="ADDRESS" property="address"/>
<result column="ADDRESSDETAIL" property="addressDetail"/>
<result column="POSTCODE" property="postCode"/>
</collection>
</resultMap>

<update id="setMemberUpdate" parameterType="MemberDTO">
	UPDATE MEMBER SET NAME=#{name},PHONE=#{phone},EMAIL=#{email},ROLENAME=#{roleName}
	WHERE ID =#{id}
</update>

<update id="setAddressUpdate" parameterType="AddressDTO">
	UPDATE ADDRESS SET ADDRESSNAME=#{addressName}, ADDRESS=#{address}, ADDRESSDETAIL=#{addressDetail}, POSTCODE=#{postCode}
	WHERE  ID=#{id}
</update>

<delete id="setMemberDelete" parameterType="MemberDTO">
	DELETE MEMBER WHERE ID=#{id}, PW=#{pw}
</delete>

</mapper>