<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camp.s1.member.MemberDAO">

<insert id="setMemberJoin" parameterType="MemberDTO">
	INSERT INTO MEMBER
	VALUES(#(id), #(pw), #(name), #(phone), #(email), #(roleName), #(addressDTO), #(memberImgDTO))
	
</insert>

<select id="getMemberLogin" parameterType="MemberDTO">
	SELECT * FROM MEMBER
	WHERE ID=#{id}
</select>

<update id="setMemberUpdate" parameterType="MemberDTO">
	UPDATE M.*, MI.*
	FROM MEMBER B
		LEFT OUTER JOIN
		MEMBERIMG MI
		ON (M.ID = MI.ID)
	WHERE N.ID=#{id}
</update>

<delete id="setMemberDelete" parameterType="MemberDTO">
	DELETE MEMBER WHERE ID=#{id}, PW=#{pw}
</delete>

<select id="findId" parameterType="String" resultType="MemberDTO">
	SELECT ID FROM MEMBER WHERE EMAIL=#{email}
</select>

<update id="updatePw" parameterType="MemberDTO">
	UPDATE MEMBER SET PW=#{pw} WHERE ID=#{id}
</update>

</mapper>