<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.camp.s1.product.ProductOrderDAO">
  	
  	<!-- Add 주문하기 -->
  	<insert id="setProductOrderAdd" parameterType="ProductOrderDTO">
  		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  			SELECT PRODUCTSEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO PRODUCTORDER
  		VALUES (#{num}, #{gradeNum}, #{id}, #{indexCode}, #{orderNum}, #{price}, SYSDATE, 
  		#{startDate}, #{lastDate}, '12345-67890', #{amount}, #{address}, '입금대기', #{orderer})
  		
  	</insert>
  	
  	<!-- 주문번호 생성 -->
  	<select id="getOrderNum" resultType="Long">
  		SELECT PAYMENTSEQ.NEXTVAL FROM DUAL
  	</select>
  	
  	<!-- ProductNum과 GradeName으로 GradeNum 출력 -->
  	<select id="getGradeNum" parameterType="ProductGradeDTO" resultType="Long">
  		SELECT GRADENUM FROM PRODUCTGRADE
  		WHERE PRODUCTNUM=#{productNum} AND GRADENAME=#{gradeName}
  	</select>
  	
  </mapper>