<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.camp.s1.report.reportDAO">
  	<insert id="setReportAdd" parameterType="ReportDTO">
  		INSERT INTO REPORT (REPORTNUM, NUM, BOARDID, REPORTER, REPORTCONTENTS)
  		VALUES (REPORTSEQ.NEXTVAL, #{num}, #{boardId}, #{reporter}, #{reportContents})
  	</insert>
  	
	<insert id="setCommentReportAdd" parameterType="ReportDTO">
  		INSERT INTO REPORT (REPORTNUM, NUM, BOARDID, COMMENTNUM, REPORTER, REPORTCONTENTS)
  		VALUES (REPORTSEQ.NEXTVAL, #{num}, #{boardId}, #{commentNum}, #{reporter}, #{reportContents})
  	</insert>
  	
  	<select id="getParentNum" parameterType="ReportDTO" resultType="ReportDTO">
  		SELECT NUM FROM 
  	</select>
  	
  	<select id="getReportList" parameterType="ReportDTO" resultType="ReportDTO">
  		SELECT * FROM REPORT
		<where>
			NUM = #{num}
			<if test="commentNum != null">
				COMMENTNUM = #{commentNum}
			</if>	
		</where>
  		
  	</select>
  </mapper>