<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.camp.s1.board.story.StoryDAO">
  
  <select id="getTotalCount" resultType="Long">
  	SELECT COUNT(NUM) FROM STORY
  	WHERE CONTENTS IS NOT NULL
  </select>
  
  <select id="getBoardList" parameterType="Pager" resultType="StoryDTO">
  		SELECT * FROM	
	  		(
		  	SELECT ROWNUM R, S.* FROM
				  	(
				  	SELECT * FROM STORY
				  	WHERE CONTENTS IS NOT NULL
				  	ORDER BY NUM DESC
				  	) S
		  	)
	  	WHERE R BETWEEN #{startRow} AND #{lastRow}
	  	
  </select>
  
    <select id="getBoardDetail" parameterType="BbsDTO" resultMap="storyDetailResult">
  	SELECT * FROM STORY
  	LEFT JOIN
  	STORYFILES
  	USING(NUM)
  	WHERE NUM = #{num}
  </select>
  
   <resultMap type="StoryDTO" id="storyDetailResult">
  	<id property="num" column="NUM"/>
  	<id property="boardId" column="BOARDID"/>
  	<result property="writer" column="WRITER"/>
  	<result property="title" column="TITLE"/>
  	<result property="contents" column="CONTENTS"/>
  	<result property="regDate" column="REGDATE"/>
  	<result property="hit" column="HIT"/>
  	<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
  		<id property="fileNum" column="FILENUM"/>
  		<result property="fileName" column="FILENAME"/>
  		<result property="oriName" column="ORINAME"/>
  	</collection>
  </resultMap> 
  
  <select id="getBoardFileList" parameterType="BbsDTO" resultType="BoardFileDTO">
  	SELECT * FROM STORYFILES
  	WHERE NUM = #{num}
  </select>
  
  <select id="getBoardFileDetail" parameterType="BoardFileDTO" resultType="BoardFileDTO">
  	SELECT * FROM STORYFILES
  	WHERE FILENUM = #{fileNum}
  </select>
  

  
  <!-- Add Query -->
  
  <insert id="setBoardAdd" parameterType="BbsDTO">
  	<selectKey keyProperty="num" order="BEFORE" resultType="Long">
  		SELECT BOARDSEQ.NEXTVAL FROM DUAL
  	</selectKey>
  	INSERT INTO STORY (NUM, BOARDID, WRITER, TITLE, CONTENTS, REGDATE, HIT)
  	VALUES (#{num}, #{boardId}, #{writer}, #{title}, #{contents}, SYSDATE, 0)
  </insert>
  
  <insert id="setBoardFileAdd" parameterType="BoardFileDTO">
  	INSERT INTO STORYFILES (FILENUM, NUM, FILENAME, ORINAME) 
  	VALUES (BOARDSEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
  </insert>
  
  <delete id="setBoardDelete" parameterType="BbsDTO">
  	DELETE STORY WHERE NUM = #{num}
  </delete>
  
  <delete id="setBoardFileDelete" parameterType="Long">
  	DELETE STORYFILES WHERE FILENUM = #{fileNum}
  </delete>
  
  <update id="setBoardUpdate" parameterType="BbsDTO">
  	UPDATE STORY SET TITLE = #{title}, CONTENTS = #{contents}
  	WHERE NUM = #{num}
  </update>
  
  </mapper>