<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.camp.s1.board.story.StoryCommentDAO">
  
    <select id="getTotalCount" resultType="Long">
  	SELECT COUNT(COMMENTNUM) FROM STORYCOMMENT
  </select>
  
  <select id="getBoardList" parameterType="Pager" resultType="StoryCommentDTO">
  		SELECT * FROM	
	  		(
		  	SELECT ROWNUM R, S.* FROM
				  	(
				  	SELECT * FROM STORYCOMMENT
				  	ORDER BY COMMENTNUM DESC
				  	) S
		  	)
	  	WHERE R BETWEEN #{startRow} AND #{lastRow}
	  	
  </select>
  
  	<!-- BoardAdd Page -->	
  	
	<insert id="setBoardAdd" parameterType="BbsDTO">	
		<selectKey keyProperty="commentNum" resultType="Long" order="BEFORE">	
				SELECT BOARDSEQ.NEXTVAL FROM DUAL
		</selectKey>
  		INSERT INTO STORYCOMMENT (COMMENTNUM, NUM, WRITER, CONTENTS, REGDATE, REF, STEP, DEPTH)
  		VALUES (#{commentNum}, #{num}, #{writer}, #{contents}, SYSDATE, #{commentNum}, 0, 0)
  	</insert> 
  
  
  </mapper>