<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.camp.s1.board.story.StoryDAO">
  
  <select id="getTotalCount" resultType="Long">
  	SELECT COUNT(NUM) FROM STORY
  </select>
  
  <select id="getBoardList" parameterType="Pager" resultType="StoryDTO">
  		SELECT * FROM	
	  		(
		  	SELECT ROWNUM R, S.* FROM
				  	(
				  	SELECT * FROM STORY
				  	ORDER BY NUM DESC
				  	) S
		  	)
	  	WHERE R BETWEEN #{startRow} AND #{lastRow}
	  	
  </select>
  
  </mapper>