<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.camp.s1.board.story.StoryCommentDAO">
  
    <select id="getTotalCount" resultType="Long">
  	SELECT COUNT(COMMENTNUM) FROM STORYCOMMENT
  	WHERE NUM = #{num}
  </select>
  
  <select id="getBoardList" parameterType="Pager" resultType="StoryCommentDTO">
  		SELECT * FROM	
	  		(
		  	SELECT ROWNUM R, S.* FROM
				  	(
				  	SELECT * FROM STORYCOMMENT
				  	WHERE NUM = #{num}
				  	ORDER BY REF DESC, STEP ASC
				  	) S
		  	)
	  	WHERE R BETWEEN #{startRow} AND #{lastRow}
	  	
  </select>
  
  <select id="getBoardDetail" parameterType="BbsDTO" resultType="StoryCommentDTO">
  		SELECT * FROM STORYCOMMENT
  		WHERE COMMENTNUM = #{commentNum} 
  </select>
  
  	<!-- BoardAdd Page -->	
  	
	<insert id="setBoardAdd" parameterType="BbsDTO">	
		<selectKey keyProperty="commentNum" resultType="Long" order="BEFORE">	
				SELECT BOARDSEQ.NEXTVAL FROM DUAL
		</selectKey>
  		INSERT INTO STORYCOMMENT (COMMENTNUM, NUM, PARENTBOARDID, BOARDID, WRITER, CONTENTS, REGDATE, REF, STEP, DEPTH)
  		VALUES (#{commentNum}, #{num}, #{parentBoardId}, #{boardId}, #{writer}, #{contents}, SYSDATE, #{commentNum}, 0, 0)
  	</insert> 
  	
  	
  	<!-- Board Update  -->
  	<update id="setBoardUpdate" parameterType="BbsDTO">
  		UPDATE STORYCOMMENT SET CONTENTS = #{contents}
  		WHERE COMMENTNUM = #{commentNum}
  	</update>
  	
  	<!-- Board Delete -->
  	<delete id="setBoardDelete" parameterType="BbsDTO">
  		UPDATE STORYCOMMENT SET WRITER = '', CONTENTS = '삭제된 댓글입니다.' 
  		WHERE COMMENTNUM = #{commentNum}
  	</delete>


	<!-- SubComment Add -->  	
  	<select id="getStepMax" parameterType="BbsDTO" resultType="Long">
  		SELECT MAX(STEP) FROM STORYCOMMENT
  		WHERE REF = #{ref}
  	</select>
  	
  	<insert id="setSubCommentAdd" parameterType="BbsDTO">

  		INSERT INTO STORYCOMMENT (COMMENTNUM, NUM, PARENTBOARDID, BOARDID, WRITER, CONTENTS, REGDATE, REF, STEP, DEPTH)
  		VALUES (BOARDSEQ.NEXTVAL, #{num}, #{parentBoardId}, #{boardId}, #{writer}, #{contents}, SYSDATE, #{ref}, #{step}, #{depth})
  	</insert>
  
  
  </mapper>